<div class="row mt-2">
  <div class="col-md-6">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Cards Details</h2>
        </div>
        <div class="offset-md-4 col-md-2">
          <button (click)="goToPayment()" class="btn btn-outline-dark">Payment</button>
        </div>
      </div>
      
      <table *ngIf="creditCards" class="table table-borderless">
        <thead>
          <tr>
            <th>Card No</th>
            <th>Holder Name</th>
            <th>Expiration Date</th>
            <th>CCV</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let card of creditCards | async; let i = index">
            <td>{{card.cardNo}}</td>
            <td>{{card.cardHolder}}</td>
            <td>{{card.expiryDate | date:'dd/MM/yyyy'}}</td>
            <td>{{card.ccv}}</td>
            <td>{{card.amount | number:'1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
 
  
</div>





